$DEBUG: true;

$FONT_FAMILY: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

//SIZE
$MAX-WIDTH: 2560px;
$MAX-WIDTH-BOX: 1536px;
$MAX-WIDTH-CONTENT: 1366px;
$MAX-WIDTH-TABLET-ADJUST: 1194px;
$MAX-WIDTH-TABLET: 1110px;
$MAX-WIDTH-MOBILE-ADJUST: 834px;
$MAX-WIDTH-MOBILE: 640px;